.profile {
  max-width: 1280px;
  width: 100%;
  margin: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  height: calc(100vh - 74px);
  font-family: 'Inter', 'SuisseIntl', sans-serif;
}

.profile__form {
  width: 100%;
  max-width: 410px;
  display: flex;
  flex-direction: column;
  gap: 123px;
  position: relative;
  align-items: center;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  margin: 0;
}

.profile__labels-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  max-height: 70px;
  height: 100%;
  width: 100%;
  position: relative;
}

.profile__label[type='name'] {
  box-sizing: border-box;
  max-width: 410px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
  margin: 0 0 24px;
}

.profile__label[type='email'] {
  display: flex;
  border: none;
  justify-content: space-between;
}

.profile__label-text {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.18;
}

.profile__input {
  max-width: 360px;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  border-style: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  background-color: transparent;
  color: #fff;
  text-align: right;
}

.profile__input:focus {
  outline: none;
  border-right: 1px solid #3ddc84;
}

.profile__input_error:focus {
  border-right: 1px solid #ee3465;
}

.profile__input_error {
  color: #ee3465;
}

.profile__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #ee3465;
  position: absolute;
  left: auto;
  bottom: -16px;
}

.profile__error-name {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #ee3465;
  position: absolute;
  left: auto;
  bottom: 20px;
}

.profile__button-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 96px;
}

.profile__button-edit {
  margin-top: auto;
  border: none;
  outline: 0;
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  transition: all 0.3s ease;
  cursor: pointer;
}

.profile__button-edit:hover {
  opacity: 0.8;
}

.profile__button-edit_disabled {
  color: #8b8b8b;
  cursor: default;
  outline: none;
  border: 0;
  background-color: transparent;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__button-edit_disabled:hover {
  opacity: 1;
}

.profile__button-exit {
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  background-color: transparent;
  color: #ee3465;
  transition: all 0.3s ease;
  cursor: pointer;
}

.profile__button-exit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .profile {
    margin: 236px auto;
  }

  .profile__form {
    min-height: 445px;
    gap: 96px;
  }

  .profile__label[type='name'] {
    padding-bottom: 18px;
    margin: 0 0 16px;
  }

  .profile__button-container {
    margin-top: 113px;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    margin-top: 68px;
    justify-content: flex-start;
    height: 100vh;
  }

  .profile__input {
    max-width: 226px;
  }
  .profile__form {
    max-width: 260px;
    min-height: 500px;
    flex: 1;
    gap: 81px;
  }

  .profile__label[type='name'] {
    padding-bottom: 16px;
    margin: 0 0 18px;
  }

  .profile__button-container {
    margin-top: 62px;
  }

  .profile__button-edit {
    font-size: 12px;
    line-height: 1.25;
  }

  .profile__button-exit {
    font-size: 12px;
    line-height: 1.25;
  }

  .profile__error {
    bottom: 220px;
  }
  .profile__error-name {
    top: -28px;
  }

  .profile__labels-container {
    padding-bottom: 296px;
  }
}
