.navigation {
  display: flex;
  gap: 31px;
  justify-content: space-between;
  align-items: center;
}

.navigation-container {
  max-width: 676px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.navigation__link:hover {
  opacity: 0.8;
}

.navigation__link_type_active {
  padding: 8px 20px;
  color: black;
  border-radius: 3px;
  background: #3ddc84;
  transition: all 0.1s ease;
}

.navigation__link_type_active:hover {
  transform: scale(1.05);
  opacity: 0.7;
}

.navigation__link_type_film {
  font-size: 13px;
  line-height: 18px;
}

.navigation__link_type_save-film {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.navigation__link_type_account {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  padding-left: 11px;
  padding-right: 37px;
  min-height: 26px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
}

.navigation__link_type_account::after {
  position: absolute;
  content: '';
  top: 0;
  right: 3px;
  width: 26px;
  height: 100%;
  border-radius: 50px;
  background-color: #313131;
  background-image: url('../../images/icon-main.svg');
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 400px) {
  .navigation {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .navigation__link {
    font-size: 10px;
    line-height: 16px;
  }

  .navigation__link_type_active {
    padding: 5px 12px;
  }
}
