.search-container {
  max-width: 1280px;
  width: 100%;
  padding: 57px 70px 49px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  position: relative;
}

.search__form {
  max-width: 932px;
  width: 100%;
  position: relative;
  border: #424242 1px solid;
  border-radius: 50px;
}

.search__input {
  max-width: 932px;
  width: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  box-sizing: border-box;
  padding: 15px 22px;
}

.search__input::placeholder {
  color: #8b8b8b;
}

.search__error {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  color: #ee3465;
  position: absolute;
  top: 70px;
  left: 0;
}

.search__button {
  border: none;
  background-color: #4285f4;
  background-image: url('../../image/icon-poisk.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 34px 34px;
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  position: absolute;
  top: -4px;
  right: 12px;
  border-radius: 50%;
  transform: translateY(50%);
  transition: all 0.3s ease;
  cursor: pointer;
}

.search__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .search {
    padding: 73px 30px 61px;
  }
}

@media screen and (max-width: 400px) {
  .search {
    padding: 85px 14px 50px;
  }

  .search__input {
    text-align: left;
    font-size: 18px;
    line-height: 1.22;
    padding-left: 0;
  }

  .search__button {
    top: -10px;
  }

  .search__form::before {
    content: none;
  }

  .search__error {
    font-size: 10px;
    top: 60px;
  }
}
