.header {
  max-width: 1140px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 18px 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  transition: all 0.3s ease;
  height: 38px;
}
