.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.header_theme_dark {
  background-color: #202020;
}

.header_theme_mazarine {
  background-color: #073042;
}

.header__container {
  max-width: 1280px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 18px 70px;
  position: relative;
  box-sizing: border-box;
}

.header__link {
  transition: all 0.3s ease;
  height: 38px;
}
