.filter {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  justify-content: space-between;
  width: 174px;
  height: 20px;
  transition: all 0.3s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.checkbox {
  display: inline-block;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  appearance: none;
}

.checkbox__inner {
  display: inline-block;
  position: relative;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding-left: 41px;
  padding-right: 54px;
}

.checkbox__inner:before {
  display: block;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
  height: 20px;
  background-color: rgb(183, 183, 183);
  border-radius: 18px;
  transition: background-color 0.3s;
}

.checkbox__inner:after {
  display: block;
  content: '';
  position: absolute;
  left: 180px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(245, 245, 245, 1);
  transition: background-color 0.3s, left 0.3s;
}

.checkbox__input:checked + .checkbox__inner::before {
  background-color: rgba(43, 224, 128, 1);
}

.checkbox__input:checked + .checkbox__inner::after {
  left: 198px;
  background-color: rgba(255, 255, 255, 1);
}
