.register {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.register__form {
  width: 100%;
  max-width: 396px;
  min-height: 525px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.register__input:focus {
  outline: 1px solid #3ddc84;
}
.register__input_error:focus {
  outline: 1px solid rgba(238, 52, 101, 1);
}

.register__link {
  transition: all 0.3s ease;
  color: #4285f4;
  text-decoration: none;
  line-height: 0;
  max-width: 38px;
}

.register__link:hover {
  opacity: 0.7;
}

.register__logo {
  transition: all 0.3s ease;
  width: 38px;
  height: 38px;
}

.register__logo:hover {
  transform: rotate(45deg);
}

.register__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  margin: 0;
}

.register__labels-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.register__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
  position: relative;
}

.register__label-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #8b8b8b;
  padding-bottom: 7px;
}

.register__input {
  padding: 15px 15px;
  box-sizing: border-box;
  border-style: none;
  font-weight: 400;
  font-size: 13px;
  line-height: normal;
  background-color: rgba(47, 47, 47, 1);
  color: #fff;
  border-radius: 8px;
}

.register__input_error {
  color: rgba(238, 52, 101, 1);
}

.register__input[type='email'] {
  font-weight: 500;
}

.register__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: rgba(238, 52, 101, 1);
  position: absolute;
  top: 74px;
  left: 0;
}

.register__button {
  margin-top: 52px;
  border-style: none;
  background-color: #4285f4;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  line-height: 1.21;
  width: 100%;
  padding: 14px 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
  cursor: pointer;
  font-weight: 500;
}

.register__button:hover {
  opacity: 0.8;
}

.register__button_disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
  cursor: default;
}

.register__button_disabled:hover {
  opacity: 1;
}

.register__support {
  margin: 18px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #8b8b8b;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .register {
    padding-top: 52px;
  }

  .register__form {
    align-items: center;
    gap: 50px;
    max-width: 260px;
    flex: 0;
  }

  .register__labels-container {
    margin-top: 30px;
  }

  .register__button {
    font-size: 12px;
    line-height: 1.25;
    margin-top: 130px;
  }

  .register__support {
    font-size: 12px;
    line-height: 1.25;
  }

  .register__link {
    padding-left: 4px;
  }
}

@media screen and (max-width: 330px) {
  .register__link {
    padding-left: 0;
  }

  .register__support {
    margin: 14px 0 0;
  }
}
