.techs {
  width: 100%;
  background-color: rgba(39, 39, 39, 1);
}

.techs__container {
  max-width: 1280px;
  min-width: 320px;
  margin: 101px auto 0;
  padding: 0 70px;
  box-sizing: border-box;
}

.techs-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.techs-info__description {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0;
  padding: 71px 0 26px;
}

.techs-info__paragraph {
  max-width: 460px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  margin: 0;
  padding: 0;
}

.techs__spisok {
  display: flex;
  list-style-type: none;
  gap: 10px;
  margin: 0;
  padding: 100px 0;
}

.techs__spisok-element {
  min-width: 90px;
  height: 60px;
  width: 100%;
  border-radius: 10px;
  background: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease;
}

.techs__spisok-element:hover {
  transform: scale(1.05);
  background-color: rgba(61, 220, 132, 1);
  opacity: 0.7;
}

.techs__spisok-link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

@media screen and (max-width: 800px) {
  .techs__container {
    margin-top: 91px;
    padding: 0 50px;
  }
  .techs-info__description {
    padding: 61px 0 22px;
  }
  .techs-info__paragraph {
    max-width: 440px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }
  .techs__spisok {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin: 0;
    padding: 83px 0 90px;
  }

  .techs__spisok-link {
    font-size: 12px;
    letter-spacing: -0.48px;
  }

  .techs__spisok-element {
    min-width: 84px;
    height: 57px;
  }
}
